%Projects
  - projects.each do |project|
    %Project{:name => project.name, :activity => "Sleeping", :lastBuildStatus => project.latest_build.status ? "Success" : "Failure", :lastBuildTime => project.last_built_at, :nextBuildTime => project.last_built_at + 20, :webUrl => "/projects/#{project.name}"}
