- content_for(:head) do
  %link{:rel => 'stylesheet', :href => '/stylesheets/dashboard.css', :type => 'text/css'}

%table#all_projects
  - projects.each do |project|
    = haml :"dashboard/_project_row", :locals => { :project => project }
