%html
  %head
    %title Goldberg
    %script{:type => "text/javascript", :src  => "/js/jquery-1.5.min.js"}
    %link{:rel => 'stylesheet', :href => '/stylesheets/blueprint/screen.css', :type => 'text/css'}
    <!--[if lt IE 8]> %link{:rel => 'stylesheet', :href => '/stylesheets/ie.css', :type => 'text/css'} <![endif]-->
    = yield_content :head
  %body
    .container
      %h1 Goldberg
      %hr

      = yield
