%html
  %head
    %title Goldberg
    %link{:rel => 'stylesheet', :href => '/stylesheets/blueprint/screen.css', :type => 'text/css'}
    <!--[if lt IE 8]> %link{:rel => 'stylesheet', :href => '/stylesheets/ie.css', :type => 'text/css'} <![endif]-->
    %link{:rel => 'stylesheet', :href => '/stylesheets/project.css', :type => 'text/css'}
  %body
    .container
      %h1 Goldberg
      %hr
        
      = yield
