$light-red: #f0cccc;
$light-green: #ccf0cc;
$light-yellow: #f0f096;
$light-grey: #cccccc;

h2.project {
  em.project_ruby {
    font-size: 12px;
  }

  .project_status {
    padding-left: 10px;
    font-size: 14px;
  }
}

.project_heading {
  position: relative;
  border-radius: 15px;
  box-shadow: 5px 5px 5px #ccc;
  min-width: 480px;

  .project {
    padding-left: 10px;
  }

  .force_build {
    position: absolute;
    padding-right: 10px;
    top: 8px;
    right: 0;
  }
}

li.build {
  .name { width: 75px; }
  .revision { width: 50px; }
  .timestamp { width: 139px; }
  .build-pointer { width: 5px; }
  a { color: black }

  &.passed {
    background-color: $light-green;
    &:hover  { background-color: #96ff96; }
  }

  &.failed, &.timeout {
    background-color: $light-red;
    &:hover  { background-color: #ff9696; }
  }

  &.building {
    background-color: $light-yellow;
    &:hover  { background-color: #f0f064; }
  }

  &.cancelled {
    background-color: $light-grey;
    &:hover  { background-color: #aaaaaa; }
  }
}

.latest-build {
  margin-left: 314px;

  &.passed {
    .project_heading { background-color: $light-green; }
  }

  &.failed, &.timeout {
    .project_heading { background-color: $light-red; }
  }

  &.building {
    .project_heading { background-color: $light-yellow; }
  }

  &.cancelled {
    .project_heading { background-color: $light-grey; }
  }
}

.past-builds {
  float: left;

  ul {
    display: table;

    li.build { 
      display: table-row;

      a, span { display: table-cell; }
    }
  }
}
