
tr.project_row {
    padding: 0.6em;
}

tr.project_row.passed td.project_name {
    background-color: #7fffd4;
}

tr.project_row.failed td.project_name {
    background-color: #990000;
    color: white;
    width: 20%;
}

tr.project_row td.status_icon {
    background-color: white;
    width: 10%;
}

tr.project_row td.last_built_at {
    background-color: white;
    width: 20%;
}