#all_projects a, a:visited { color: black; }
#all_projects tr.headings td { font-weight: bold; }
#all_projects tr.project_row td { border-top: white solid 1em; background-color: white; }

/* Red/Green for pass/fail */
#all_projects tr.project_row.passed td {
    background-color: #ccf0cc;
}

#all_projects tr.project_row.failed td {
    background-color: #f0cccc;
}


/* Table Columns */

#all_projects tr.project_row td.status_icon {
    width: 5%;
    background-color: white;
}

#all_projects tr.project_row td.project_name {
    width: 40%;
}

#all_projects tr.project_row td.last_built_at {
    width: 20%;
}

#all_projects tr.project_row td.number_of_tests {
    width: 20%;
}

