h2.project em.project_ruby {
    font-size: 12px;
}

.project_heading {
    position: relative;
    border-radius: 15px;
    box-shadow: 5px 5px 5px #ccc;
    min-width: 480px;
}

.project_heading .project {
    padding-left: 10px;
}

h2.project .project_status {
    padding-left: 10px;
    font-size: 14px;
}

.project_heading .force_build {
    position: absolute;
    padding-right: 10px;
    top: 8px;
    right: 0;
}

li.build a {
    color: black;
}

li.build.passed {
    background-color: #ccf0cc;
}

li.build.passed:hover {
    background-color: #96ff96;
}

.latest-build.passed strong, .latest-build.passed h2 {
    color: green;
}

.latest-build.passed .project_heading {
    background-color: #ccf0cc;
}


li.build.failed {
    background-color: #f0cccc;
}

li.build.failed:hover {
    background-color: #ff9696;
}

.latest-build.failed strong, .latest-build.failed h2 {
    color: red;
}

.latest-build.failed .project_heading {
    background-color: #f0cccc;
}


li.build.building {
    background-color: #f0f086;
}

li.build.building:hover {
    background-color: #f0f064;
}

.latest-build.building strong, .latest-build.building h2 {
    color: yellow;
}

.latest-build.building .project_heading {
    background-color: #f0f096;
}


li.build .name {
    width: 75px;
}

li.build .revision {
    width: 50px;
}

li.build .timestamp {
    width: 139px;
}

li.build .build-pointer {
    width: 5px;
}

.latest-build {
    margin-left: 314px;
}

.past-builds {
    float: left;
}

/* table layout */
.past-builds ul {
    display: table;
}
.past-builds ul li.build {
    display: table-row;
}
.past-builds ul li.build a, .past-builds ul li.build span {
    display: table-cell;
}
