h2.project em.project_ruby {
  font-size: 12px; }
h2.project .project_status {
  padding-left: 10px;
  font-size: 14px; }

.project_heading {
  position: relative;
  border-top-right-radius: 8px;
  border-top-left-radius: 8px;
  line-height: 30px;
  height: 30px;
  padding: 0; }
  .project_heading h2 {
    margin: 0;
    padding: 0; }
  .project_heading .project {
    padding-left: 10px; }
  .project_heading .force_build {
    position: absolute;
    top: 0;
    right: 0; }
  .project_heading form input {
    display: block;
    float: right;
    height: 30px;
    background-color: #00b700;
    color: #fff;
    border: 0;
    border-top-right-radius: 8px; }

li.build .name {
  width: 85px; }
li.build .revision {
  width: 50px; }
li.build .timestamp {
  width: 139px; }
li.build .build-pointer {
  width: 5px; }
li.build a {
  color: black; }
li.build.passed {
  background-color: #ccf0cc; }
  li.build.passed:hover {
    background-color: #96ff96; }
li.build.failed, li.build.timeout {
  background-color: #f0cccc; }
  li.build.failed:hover, li.build.timeout:hover {
    background-color: #ff9696; }
li.build.building {
  background-color: #f0f096; }
  li.build.building:hover {
    background-color: #f0f064; }
li.build.cancelled {
  background-color: #cccccc; }
  li.build.cancelled:hover {
    background-color: #aaaaaa; }

.latest-build {
  float: right;
  width: 700px;
  background: #fff;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
  border-radius: 8px; }
  .latest-build .project_heading.passed {
    background-color: #ccf0cc; }
  .latest-build .project_heading.failed, .latest-build .project_heading.timeout {
    background-color: #f0cccc; }
  .latest-build .project_heading.building {
    background-color: #f0f096; }
  .latest-build .project_heading.cancelled {
    background-color: #cccccc; }
  .latest-build pre {
    line-height: 12px;
    float: right;
    white-space: pre-wrap;
    width: 670px; }

.past-builds {
  float: left;
  width: 300px;
  background: #fff;
  border-radius: 8px;
  padding: 0 0 20px 0;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.5); }
  .past-builds h3 {
    margin: 0;
    padding: 0 10px;
    line-height: 30px; }
  .past-builds ul {
    display: table;
    margin: 0;
    width: 300px;
    position: relative; }
    .past-builds ul li.build {
      text-align: right;
      line-height: 30px;
      height: 30px;
      padding: 0 10px 0 20px;
      list-style-type: none;
      position: relative;
      font-style: italic;
      cursor: pointer; }
      .past-builds ul li.build span {
        font-style: normal; }
    .past-builds ul li.build.selected.passed {
      background: #00b700; }
    .past-builds ul li.build.selected.failed {
      background: #a90000; }
    .past-builds ul li.build.selected.timeout {
      background: #a90000; }
    .past-builds ul li.build.selected.building {
      background: #f0f086; }
    .past-builds ul li.build.selected.cancelled {
      background: #444444; }
    .past-builds ul li.build a {
      color: #444444;
      font-weight: bold;
      font-style: normal;
      text-decoration: none;
      float: left; }
    .past-builds ul li.build .revision a {
      float: none; }
    .past-builds ul li.build.selected a, .past-builds ul li.build.selected {
      color: #fff; }
    .past-builds ul li.build.selected span.build-pointer {
      width: 0;
      height: 0;
      border: solid 10px #fff;
      border-left: none;
      border-top: solid 10px transparent;
      border-bottom: solid 10px  transparent;
      display: block;
      position: absolute;
      right: -20px;
      margin-top: -25px; }
