!!! XML
%Projects
  - @projects.each do |project|
    %Project{:name => project.name, :activity => project.activity, :lastBuildStatus => project.map_to_cctray_project_status, :lastBuildTime => project.last_complete_build_timestamp, :nextBuildTime => project.next_build_at, :webUrl => project_url(project.name)}
