- content_for(:head) do
  = stylesheet_link_tag 'home'

:javascript
  $(document).ready(function(){
    setInterval(function(){
      $.get('#{projects_partial_path}', function(response){
        $('#all-projects').replaceWith(response);
      });
    }, 15 * 1000)
  });

= render :partial => 'projects'
