- content_for(:head) do
  = stylesheet_link_tag 'home'

:javascript
  $(document).ready(function(){
    refresher = new Refresher('#{params[:group_name] ? projects_partial_for_group_path(params[:group_name]) : projects_partial_path}', 5 * 1000)
    refresher.setup_timestamp_refreshing();
    refresher.setup_status_refreshing();
  });

= render :partial => 'group_projects', :locals => { :grouped_projects => @grouped_projects }
