$light-red: #f0cccc;
$dark-red: #a90000;

$light-green: #ccf0cc;
$dark-green: #00b700;

$light-yellow: #f0f096;
$dark-yellow: #f0f086;

$light-grey: #ccc;
$dark-grey: #444;

#all-projects {
  line-height: 30px;

  .headings span { font-weight: bold; }

  h3.group {
    line-height: 30px;
    margin: 0;
    padding: 0 10px;
  }

  .project-row{
    display: block;
    margin: 10px 10px 0 10px;
    border-radius: 8px;
    float: left;
    width: 1000px;
  }

  .project-row.passed {
    background-color: #ccf0cc;
  }

  .project-row.failed, .project-row.timeout {
    background-color: #f0cccc;
  }

  .project-row.building {
    background-color: #f0f086;
  }

  .project-row.cancelled {
    background-color: #cccccc;
  }

  .project-row form{float: right;}
  .project-row form input{
    display: block;
    float: right;
    height: 30px;
    background-color: #444;
    color: #fff;
    border: 0;
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;  }

  /* Table Columns */
  .project-row {
    span.status-icon {
      width: 5%;
      background-color: white;
      display: block;
      float: left;
      width: 40px;
      margin-right: 10px;
      background: #00b700 no-repeat 12px center;
      border-top-left-radius: 8px;
      border-bottom-left-radius: 8px;
    }

    &.passed span.status-icon{
    	background-color: #00b700;
    	background-image: url(/assets/tick.png);
    }

    &.failed span.status-icon,
    &.timeout span.status-icon{
    	background-color: $dark-red;
    	background-image: url(/assets/cross.png);
    }

    &.building span.status-icon{
    	background-color: $dark-yellow;
    	background-image: url(/assets/building.gif);
    }

    &.cancelled span.status-icon{
    	background-color: $dark-grey;
    	background-image: url(/assets/cross.png);
    }

    span {
      width: 40%;
    }

    span.last-built-at {
      width: 27%;
    }

    span.number-of-tests {
      width: 20%;
    }

    a.external-link {
      background: url("/assets/external_icon.png") no-repeat scroll right center transparent;
      padding-right: 13px;
    }
  }

  em.project_ruby {
    font-size: 10px;
  }

}
.error {
    display: block;
    margin: 10px 10px 0 10px;
    float: left;
    width: 1000px;
}
